body {
	background-color: #E8E8E8;
}

.container {
	color: #545454;
	width: 1540px;
	background-color: #FFFFFF;
}

.span12 {
	width: 1540px;
}

.span10 {
	width: 1020px;
}

.span7 {
	width: 708px;
}

.span6 {
	width: 604px;
}

.span5 {
	width: 500px;
}

.span4 {
	width: 396px;
}


.span2 {
	width: 188px;
}

.span1 {
	width: 84px;
}

.offset2 {
	margin-left: 208px;
}

.offset1 {
	margin-left: 104px;
}


/*
.form-horizontal .control-label {
	float: left;
	width: 200px;
	padding-top: 5px;
	padding-right: 10px;
	text-align: right;
}
*/

.form-actions {
	background-color:inherit;
}

.ricerca .form-horizontal .form-actions {
	border-top: inherit;
}
.gray {
	color: gray;
}

th {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center !important; 
}

.table a {
	text-decoration: underline;
}
.table .titoloOggetto {
	min-width: 200px;
}

.test {
	  overflow: hidden;
  text-overflow: ellipsis;
}


.underline {
border-bottom: 1px solid;
}

.underline > span {
border-bottom: 1px solid;
display: inline-block;
}


#ricercaAvanzata.in {
	overflow: visible;
}

.header.container > .row > .span12 {
	height: 142px;
	background-image: url(../img/bg_banner.png);
	background-repeat: no-repeat;
}
