.container {
	color: #545454;
	width: 1560px;
}

.span12 {
	width: 1540px;
}

.span10 {
	width: 1280px;
}

.span6 {
	width: 760px;
}

.span4 {
	width: 500px;
}

.span2 {
	width: 240px;
}

.span1 {
	width: 110px;
}

.offset2 {
	margin-left: 260px;
}

.offset1 {
	margin-left: 130px;
}


/*
.form-horizontal .control-label {
	float: left;
	width: 200px;
	padding-top: 5px;
	padding-right: 10px;
	text-align: right;
}
*/

.form-actions {
	background-color:inherit;
}

.ricerca .form-horizontal .form-actions {
	padding-left: 600px;
}
.gray {
	color: gray;
}

th {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center !important; 
}

.table a {
	text-decoration: underline;
}
.table .titoloOggetto {
	min-width: 200px;
}

.test {
	  overflow: hidden;
  text-overflow: ellipsis;
}


.underline {
border-bottom: 1px solid;
}

.underline > span {
border-bottom: 1px solid;
display: inline-block;
}
