
/** CUSTOM RICERCA **/
#campiRicerca .form-actions{
	background-color:inherit;
}

#campiRicerca .form-horizontal .form-actions {
	padding-left: 280px;
}

#campiRicerca .form-horizontal .form-actions {
	border-top: inherit;
}

/** CUSTOM INSERIMENTO **/
.inserimento .form-horizontal .form-actions {
	padding-left: 280px;
}

.inserimento .form-actions{
	background-color:inherit;
	border: inherit;
}

.inserimento .table a {
	text-decoration: inherit;
}

.inserimento .control-group .control-label {
	padding-top:inherit;
	font-weight: bold;
}

.inserimento .control-group span {
	padding-top:5px;
	margin-bottom: 5px;
}

th.allegati {
	width: 150px;
}

th.medium {
	width: 200px;
}

/** CUSTOM DETTAGLIO **/
.dettaglio .control-group .control-label {
	padding-top:inherit;
	font-weight: bold;
}
.dettaglio .control-group span {
	padding-top:5px;
	margin-bottom: 5px;
}

/** GENERICO **/
* {
  border-radius: 0 !important;
}

body {
	background-color: #E8E8E8;
}

.container {
	color: #545454;
	width: 1550px;
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
}

.span12 {
	width: 1540px;
}

.span10 {
	width: 1277px;
}

.span8 {
	width: 1016px;
}

.span7 {
	width: 884px;
}

.span6 {
	width: 753px;
}

.span5 {
	width: 622px;
}

.span4 {
	width: 492px;
}

.span2 {
	width: 229px;
}

.span1 {
	width: 98px;
}

.offset2 {
	margin-left: 294px;
}

.offset1 {
	margin-left: 160px;
}

/*
.form-horizontal .control-label {
	float: left;
	width: 200px;
	padding-top: 5px;
	padding-right: 10px;
	text-align: right;
}
*/

.form-actions {
	background-color:inherit;
}


.gray {
	color: gray;
}

th {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center !important; 
}

.vcenter { 
	vertical-align: middle !important;
}

.table a {
	text-decoration: underline;
}
.table .titoloOggetto {
	min-width: 200px;
}

.test {
	  overflow: hidden;
  text-overflow: ellipsis;
}


.underline {
	border-bottom: 1px solid;
	border-color: #004383;
}

.underline > span {
	border-bottom: 1px solid;
	display: inline-block;
	border-color: #004383;
	color: #004383;
}


#ricercaAvanzata.in {
	overflow: visible;
}

.header.container  {
	height: 180px;
	background-image: url(../img/bg_banner.png);
	background-repeat: no-repeat;
	border-bottom: 1px solid #ccc;
}

.header.container > .row {
	height: 140px;
}

.utente {
	display: block;
	line-height: 40px;
	background-color: #004383;
	color: #fff;
	padding-left: 10px;
}

.utente > a, .utente > a:visited {
	color: #fff;
}

.titolo {
	line-height: 100px;
	padding-left: 30px;
	text-transform: uppercase;
}

.navbar.navbar-custom {
	margin-bottom: 0px;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	background: #193E62;
}

.navbar.navbar-custom .nav>li>a,  .navbar .nav>li>a:visited, .navbar .dropdown-menu>li>a, .navbar .dropdown-menu>li>a:visited {
	color: #fff;
	font-weight: bold;
	text-shadow: inherit;
}

.navbar.navbar-custom .nav>li>a:focus, .navbar .nav>li>a:hover {
	color: #fff;
}

.navbar .dropdown-menu>li>a:hover {
	background-color: #093697;
	background-image: none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #fff;
	background-color: #093697;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .dropdown-menu {
	background-color: #555;
	margin-top: -1px;
}

.navbar .dropdown-menu:before,
.navbar .dropdown-menu:after {
  display:none !important;
}

.popover {
	color: #545454; 
	max-width: 500px;
	line-height: 20px;
}

.inserimento table a {
	color: #545454; 
}

.table thead th {
	background: #004383;
	color: #fff;
}

.breadcumb.container  {
	height: 40px;
	border-bottom: 1px solid #ccc;
}

.breadcumb .titoloBreadcumb {
	color: #005782;
	text-transform: uppercase;
	font-weight: bold;
}
.breadcumb span {
	line-height: 40px;
}

#insertNoteAllegatiModal{
	width: 750px !important;
}

 #insertNoteAllegatiModal .modal-body {
    max-height: 625px;
} 

#btnRicercaAvanzata:hover {
	cursor: pointer;
}

#btnRicercaAvanzata:hover i {
	text-decoration: none;
}

#modalCronologia.modal {
	width: 700px;
	margin-left: -420px;
}

.color-capofila {
	background: #59B4FF;
}

i.color-capofila {
	color: #59B4FF;
	background: #FFF;
}

.color-assegnatario {
	background: #7FFF8E;
}

i.color-assegnatario {
	color: #7FFF8E;
	background: #FFF;
}